<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
    <h1>Todo List</h1>
    <form action="/add" method="post">
        <input type="text" name="title" placeholder="Enter todo...">
        <button type="submit">Add</button>
    </form>
    <ul>
        {% for todo in todo_list %}
            <li>
                <span style="text-decoration: line-through;" {% if todo.complete %}style="text-decoration: line-through;" {% endif %}>{{ todo.title }}</span>
                <a href="/update/{{ todo.id }}">Toggle</a>
                <a href="/delete/{{ todo.id }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
